/* 标题590*50 内容（图片）590*470 */
img {
	width: 590px;
	height: 470px;
}
.ctboxs {
	width:590px;
	height: 710px;
	position: relative;
	overflow: hidden;
	border: 2px solid orange;
}
.ctboxs .ctbox {
	width: 590px;
	height: 530px;
	position: absolute;
	left: 0;
	transition: 0.5s linear;
}
.ctboxs .ct1 {
	top: 0
}
.ctboxs .ct2 {
	top: 530px;
}
.ctboxs .ct3 {
	top: 590px;
}
.ctboxs .ct4 {
	top: 650px;
}
.ctboxs .ctbox .title {
	color: white;
	font-size: 22px;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}
.ctboxs .ct1 .title {
	background: rgb(0,0,127);
}
.ctboxs .ct2 .title {
	background: rgb(238,136,0);
}
.ctboxs .ct3 .title {
	background: rgb(126,127,0);
}
.ctboxs .ct4 .title {
	background: rgb(35,97,173);
}